{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="theme-color" content="#85d4b7">
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/icono/icon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'img/icono/icon.png' %}">
        <link rel="apple-touch-startup-image" href="{% static 'img/icono/icon.png' %}">
      
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/perris.css' %}">
    <link rel="stylesheet" href="{% static 'Fuentes/style.css' %}">
   <link rel="manifest" href="{% static 'json/manifest.json' %}">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MisPerris</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="620096179377-ula3qjt2s01qqhberlqq470n16kccnh5.apps.googleusercontent.com">
    <script>
    function onSignIn(googleUser) {
    console.log(googleUser);
    }
  </script>
    
</head>
<body>
        <div class="contenido-cabecera">
                <div class="cabecera-logo">
                    <img src="{% static 'img/logo.png' %}" alt="logo">
                </div>
                <div class="cabecera-lista">
                    <ul class="lista">
                    
                        <li><a href="/">Inicio</a> </li>
                        {% if user.is_authenticated %}
                         {% if user.username == "admin" %}
                        <li> <a href="{% url 'adm.inicio' %}">Administrar</a> </li>
                        {% else  %}
          
                         {% endif %}
       
                        {% endif %}                                       
                                           
                    <li><a href={% url 'social:begin' 'google-oauth2' %}>iniciar con Google</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Cerrar Sesion ({{user.username}}) </a> </li>
                        {% else %}                        
                         <li><a href="{% url 'login' %}">Iniciar Sesion</a> </li>
                         <li><a href="{% url 'registrar' %}">Registrate</a> </li>
                        {% endif %}
                         <li><a href="{% url 'perros_disponibles' %}">¿Quieres Adoptar?</a> </li>
                         
                    
                                             
                    </ul>
        
                </div>
        
                
            </div>
            
            </div>
        </div>
    </div>
    {% block content %}
            {% endblock %}
</body>

</html>

<!--    fwerfewfewf  -->
